

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}

.faq{
    margin-top: 50px;
    /* border: 1px solid black; */
    max-width:500px;
    width: 90%;
    margin: auto;
}
.faq .box.active p{
    display: block;

}
.faq .box i{
    transition: .2s all;
}
.faq .box.active i{
    
    transform: rotate(180deg);
}
.faq .box h2{
    padding: 1% 3%;

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.faq .box p{
    padding: 1% 3%;
    display: none;

}